{% extends "examples.html" %}
{% load markdownify %}

{% block title %}
  <h1 class="title">Htmx Basics</h1>
{% endblock %}

{% block demo %}
{% include "home_base.html" %}
{% endblock %}

{% block code %}
<h2 class="title is-5">View</h2>
<div class="block">{{ view | markdown | safe }}</div>
<h2 class="title is-5">Ajax Template</h2>
<div class="block">{{ template | markdown | safe }}</div>
<h2 class="title is-5">Base Template</h2>
<div class="block">{{ base | markdown | safe }}</div>

{% endblock %}

{% block prev %}
{% endblock %}
{% block next %}
  <a href="form">
    {{ block.super }}
  </a>
{% endblock %}
</div>
