{% extends "examples.html" %}
{% load markdownify %}

{% block title %}
  <h1 class="title">Modals</h1>
{% endblock %}

{% block demo %}
  {% include "modals.html" %}
{% endblock %}

{% block code %}
<h2 class="title is-5">Template</h2>
<div class="block">{{ template | markdown | safe }}</div>

<h2 class="title is-5">Modal Template</h2>
<div class="block">{{ modal | markdown | safe }}</div>

<h2 class="title is-5">Modal View</h2>
<div class="block">{{ view | markdown | safe }}</div>
{% endblock %}

{% block prev %}
  <a href="inline">
    {{ block.super }}
  </a>
{% endblock %}

{% block next %}
  <a href="polling">
    {{ block.super }}
  </a>
{% endblock %}
</div>
